@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@model RegistrationRequest;

<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center mt-5">
          <form asp-action="Register">
                <div class="form-group">
                    <input asp-for="Name" class="form-control mb-3" type="text" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control mb-3" type="text" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control mb-3" type="text" placeholder="Phone Number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
             <div class="form-group">
                    <input asp-for="Password" class="form-control mb-3" type="password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
             </div>
             <button type="submit" class="btn btn-md btn-primary w-100">Login</button>
          </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
