@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model CouponDto

<div class="container">
    <ol class="mt-5 mb-5 breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Coupons</a></li>
        <li class="breadcrumb-item active">Create Coupon</li>
    </ol>
    <div class="card">
        <div class="card-body">
            <form asp-action="Create" class="mt-5">
             
                    <div class="form-group">
                        <label for="couponCode" class="form-label mt-4">Coupon Code</label>
                        <input asp-for="CouponCode" type="text" class="form-control" id="couponCode" aria-describedby="couponHelp" placeholder="Coupon Code">
                        <span asp-validation-for="CouponCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="couponDiscountAmount" class="form-label mt-4">Discount Amount</label>
                        <input asp-for="DiscountAmount" type="number" class="form-control" id="couponDiscountAmount" placeholder="Discount Amount" autocomplete="off">
                        <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label for="couponMinimumAmount" class="form-label mt-4">Minimum Amount</label>
                        <input asp-for="MinAmount" type="number" class="form-control" id="couponMinimumAmount" aria-describedby="minimumHelp" placeholder="Minimum Amount" autocomplete="off">
                        <span asp-validation-for="MinAmount" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary form-control mt-3">
            </form>
        </div>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
