<div class="container">
    <div class="row mb-6">
        <div class="col-md-8">
            <h2>Shopping Cart</h2>
            <h6>1 Product in cart</h6>
            <div class="row">
                <div class="col-md-2">
                    <span class="avatar">Image goes here</span>
                </div>
                <div class="col-md-8">
                    <p>Product Description</p>
                    <br />
                    <span>Other Info</span>
                </div>
                <div class="col-md-2">
                    <h6>Price</h6>
                    <span>Cancelled Old Price</span><span>-9%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class=""><i class="bi bi-trash-fill text-danger" style="font-size: xx-large"></i></span>
                        <div class="input-group">
                            <button class="btn btn-sm btn-danger" type="button">-</button>
                            <input type="text" value="0" style="width: 20px" class="form-control form-control-sm"/>
                            <button class="btn btn-sm btn-success" type="button">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h6>Total</h6>
                    <h2>$3400</h2>
                    <h6>Old Amount</h6>
                    <h6>46% Off</h6>
                    <button type="submit" class="btn btn-secondary">Check Out</button>
                </div>
                <div class="col-md-12">
                    <h5>Promotions</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter coupon" />
                        <button class="btn btn-primary" type="submit">Apply</button>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>
